/******************COMMON STYLES***********************/
button.outline-none {
  outline: none !important;
}

.m_transition {
  transition: transform 0.15s ease-in-out 0s;
}

.down {
  transform: rotate(180deg);
}

.up {
  transform: rotate(0deg);
}

.m_invisible {
  transform: scale(0);
}
.m_visible {
  transform: scale(1);
}

/******************SPECIFIC STYLES***********************/
.multiselect .m_border {
  border-bottom: 1px solid #eee;
}

.multiselect .btn-mw {
  width: auto;
  max-width: 75%;
}

.dropdown .m_border {
  border-bottom: 1px solid #eee;
}

.burger-menu{
  display: none;
}

.burger-menu-bg{
  background: rgb(243,244,246);
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.burger-menu-item{
  display: flex;
}


.burger-menu-sm-item:hover{
  border-bottom: 2px solid #666;
}


@media only screen 
and (max-width : 1024px)  {
  .burger-menu{
    display: block;
  }
  .burger-menu-item{
    display: none;
  }
}


.text-white-n-important{
  color:#fff;
}

.bg-white-n-important{
  background-color: white;
}