
.sign-in {
    font-family: sans-serif;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.sign-in .title {
    margin: 10px 0;
    font-size: 30px;
    font-family: sans-serif;
}
.sign-in .buttons {
    display: flex;
    justify-content: space-between;
}