
.data-item-req{

    background-color: #d3e0ea;
    /* margin: 12px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-details-req{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 16px; */
}