.container{
    color: #8e9194;
    background-color: #f4f6f9;
}
.avatar-xl img {
    width: 130px;
    box-sizing: border-box;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}
.form-control-profile {
    width: 50%;
    margin: 8px 0px;
    height: calc(1.5em + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label{
    flex-direction: column;
}
.form-group{
    display: grid;

}

.profile-button{
    background-color:#276678;
    color: #f6f5f5 ;

}
.profile-button:hover{
    background-color:#d3e0ea  ;
    color:#276678 
}

.panel{
    color: #276678;
}
.panel:hover{
    color: #276678;
}

.panel-border{
    border-style: solid;
    border-color: #276678;
    border-bottom-width: 1px;
    
}