@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .option-bg{
    background:#abd1c6;
  }

  .normal-btn{
    background:#f9bc60;
    color:#001e1d;
  }

  .disabled-btn{
    background:#abd1c6;
    color:#001e1d;
  }

  .warning-btn{
    background:#e16162;
    color:#001e1d;
  }

  .text-limited{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
  }

  .text-oneline{
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  .bordered-light{
    border:2px solid #eee;
    border-radius:0.5rem;
  }

  .label-left{
    @apply flex justify-start items-center;
  }

  .label-right{
    @apply flex justify-end items-center;
  }

  /* @variants responsive{
    .no-outline{
      @apply focus:outline-none outline-none;
    }
  } */
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif,Open Sans;
}
